# Server
CLAUDE_OBSERVE_PORT=4981          # Port used by local dev & docker container
CLAUDE_OBSERVE_LOG_LEVEL=debug    # debug | trace
CLAUDE_OBSERVE_DB_PATH=../../data/observe.db
# CLAUDE_OBSERVE_STORAGE_ADAPTER=sqlite
# CLAUDE_OBSERVE_WEBSOCKET=true
# CLAUDE_OBSERVE_CLIENT_DIST_PATH=       # Path to built client assets (production only)

# Client (Vite dev server)
CLAUDE_OBSERVE_CLIENT_PORT=5174          # Only relevant for local dev
